<!-- Header Starts Form Here -->
<header>

    <div class="navbar">
        <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="/request"><i></i> Request</a>
        <a href="/donate"><i></i> Donate</a>
        <a href="/login"><i class="fa fa-fw fa-envelope"></i> Login</a>
        <a href="/register"><i class="fa fa-fw fa-user"></i>Sign Up</a>

        <span class="logo">
            <a href="#">BloodBank</a>
        </span>
    </div>
</header>
<!-- Header Ends Form Here -->