* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}
/* Navbar Starts From Here */
.navbar {
  width: 100%;
  background-color: rgb(138, 6, 6);
  overflow: auto;
}

.navbar a {
  float: right;
  padding: 40px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background-color: rgba(199, 71, 71, 0.993);
}
.logo > a:hover {
  background-color: #8a0606;
}

.active {
  background-color: #b12631;
}

.logo {
  float: left;
}
/* Main Body Starts From Here */
marquee {
  font-size: 30px;
  font-weight: 800;
  color: #8ebf42;
}
/* Background Image Section Starts From Here */
.image-container {
  position: relative;
  text-align: center;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background-color: #cf3c3c;
}
.image-container > img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
.image-container > h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
}
.image-container > h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-weight: bolder;
  color: #fff;
}

/* Info Container Starts From Here */
.info-container {
  width: 70%;
  display: flex;
  margin: 3rem auto;
  justify-content: center;
  padding: 10px;
}

.img-container {
  flex: 1;
  margin-right: 90px;
}
.img-container > img {
  width: 95%;
  max-width: 400px;
  height: auto;
  vertical-align: middle;
}

.info {
  flex: 2;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 20px;
  column-gap: 20px;
  padding: 10px;
}
.info-item {
  border-radius: 10px;
  overflow: hidden;
  height: 300px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.title {
  height: 60px;
  color: #fff;
  background-color: #8a0606;
  padding: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.title > h2 {
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
}
.info-body {
  height: auto;
  padding: 10px;
}
.info-body > p {
  font-size: 18px;
  line-height: 30px;
  word-spacing: 2px;
}
/* *** Media Querry */
@media (max-width: 1300px) {
  .info {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 950px) {
  .info-container {
    display: block;
  }
  .info {
    grid-template-columns: auto auto;
  }
  .img-container {
    width: 100%;
    margin-bottom: 2rem;
  }
  .img-container > img {
    width: fit-content;
  }
}
@media (max-width: 600px) {
  .info {
    grid-template-columns: auto;
  }
}
/* Healts Tips Starts From Here */
.tips-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 2rem auto;
}
.tips-container > .title,
.tips-items {
  width: 100%;
  padding: 10px;
}
.tips-container > .title > h2 {
  text-align: left;
  padding: 10px;
  font-size: 25px;
  font-weight: 800;
}
.tips-items > dt {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 10px auto;
  word-wrap: break-word;
}
.tips-items > dd {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  word-spacing: 2px;
}
@media (max-width: 700px) {
  .tips-container {
    width: 95%;
  }
}

/* footer */
.footer-distributed {
  background: rgb(138, 6, 6);
  /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); */
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: rgb(138, 6, 6);
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: rgb(246, 248, 248);
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #fdfdfd;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #b10606;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
.credit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}
.credit-container > p {
  color: #fff;
  text-decoration: underline;
  font-size: 20px;
}
.credit-container > p > a {
  color: #fff;
}
