<!DOCTYPE html>
<html lang="en">
    <!-- Importing Head -->
    <%- include('../partials/head.ejs') %> 
    <title><%= title %></title>

<body>
    <!-- Header Starts Form Here -->
    <%- include('../partials/nav.ejs') %>
    <!-- Header Ends Form Here -->

    <marquee behavior="sliding" direction="left" loop="10">Donate Blood Save Life &emsp; &emsp; Donate Blood Save Life
        &emsp; &emsp; Donate Blood Save Life &emsp; &emsp; Donate Blood Save Life &emsp; &emsp; Donate Blood Save Life
        &emsp; &emsp; Donate Blood Save Life &emsp; &emsp; Donate Blood Save Life</marquee>
    <hr>
    <!-- Backgroud Image Section Starts From Here -->
    <section>
        <div class="image-container">
            <img src="./images/second.png" alt="Image">
            <h1>रक्तदान जीवनउधर</h1>
            <h3>Help By Donating Blood</h3>
        </div>
    </section>


    <!-- <img src="./image/b1.jpg" alt=""> -->
    <!-- Blood Information Section Starts From Here -->
    <section>
        <div class="info-container">
            <div class="img-container">
                <img src="./images/blood.png" alt="Image">
            </div>

            <div class="info">
                <div class="info-item">
                    <div class="title">
                        <h2>A+</h2>
                    </div>
                    <div class="info-body">
                        <p>If you are A+: You can give blood to A+ and AB+. You can receive blood from A+, A-, O+ and O-
                        </p>
                    </div>
                </div>

                <div class="info-item">
                    <div class="title">
                        <h2>A-</h2>
                    </div>
                    <div class="info-body">
                        <p>If you are A-: You can give blood to A-, A+, AB- and AB+. You can receive blood from A- and
                            O-.
                        </p>
                    </div>
                </div>

                <div class="info-item">
                    <div class="title">
                        <h2>B+</h2>
                    </div>
                    <div class="info-body">
                        <p>You can give blood to A+ and AB+. You can receive blood from A+, A-, O+ and O-.
                        </p>
                    </div>
                </div>

                <div class="info-item">
                    <div class="title">
                        <h2>B-</h2>
                    </div>
                    <div class="info-body">
                        <p>If you are B-: You can give blood to B-, B+, AB+ and AB-, You can receive blood from B- and
                            O-.You can give blood to B+
                            and AB+.
                        </p>
                    </div>
                </div>

                <div class="info-item">
                    <div class="title">
                        <h2>AB+</h2>
                    </div>
                    <div class="info-body">
                        <p>IPeople with AB+ blood can receive red blood cells from any blood type. This means that
                            demand for AB+ can donate with AB
                            only.
                        </p>
                    </div>
                </div>

                <div class="info-item">
                    <div class="title">
                        <h2>AB-</h2>
                    </div>
                    <div class="info-body">
                        <p>AB- patients can receive red blood cells from all negative blood types. AB- can give red
                            blood cells to both AB- and AB+
                            blood types.
                        </p>
                    </div>
                </div>

                <div class="info-item">
                    <div class="title">
                        <h2>O+</h2>
                    </div>
                    <div class="info-body">
                        <p>Blood O+ can donate to A+, B+, AB+ and O+ Blood Group O can donate red blood cells to
                            anybody. It's the universal donor.
                        </p>
                    </div>
                </div>

                <div class="info-item">
                    <div class="title">
                        <h2>O-</h2>
                    </div>
                    <div class="info-body">
                        <p>O- can donate to A+, A-, B+, B-, AB+, AB-, O+ and O- Blood People with O negative blood can
                            only receive red cell
                            donations from O negative donors.
                        </p>
                    </div>
                </div>

                <div class="info-item">
                    <div class="title">
                        <h2>Admin contact</h2>
                    </div>
                    <div class="info-body">
                        <p>bloodbank@gmail.com

                            +91 9876543210
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Healts Tips Section -->
    <section>
        <div class="tips-container">
            <div class="title">
                <h2>Healts Tips</h2>
            </div>

            <div class="tips-items">
                <dt>Eat a healthy diet</dt>
                <dd>Eat a combination of different foods, including fruit, vegetables, legumes, nuts and
                    whole grains. Adults should eat at
                    least five portions (400g) of fruit and vegetables per day. You can improve your intake of fruits
                    and vegetables by
                    always including veggies in your meal; eating fresh fruit and vegetables as snacks; eating a variety
                    of fruits and
                    vegetables; and eating them in season. By eating healthy, you will reduce your risk of malnutrition
                    and noncommunicable
                    diseases (NCDs) such as diabetes, heart disease, stroke and cancer.</dd>

                <dt>Consume less salt and sugar</dt>
                <dd>On the other hand, consuming excessive amounts of sugars increases the risk of tooth decay and
                    unhealthy weight gain. In
                    both adults and children, the intake of free sugars should be reduced to less than 10% of total
                    energy intake. This is
                    equivalent to 50g or about 12 teaspoons for an adult. WHO recommends consuming less than 5% of total
                    energy intake for
                    additional health benefits. You can reduce your sugar intake by limiting the consumption of sugary
                    snacks, candies and
                    sugar-sweetened beverages.</dd>

                <dt>Be active</dt>
                <dd>Physical activity is defined as any bodily movement produced by skeletal muscles that requires
                    energy expenditure. This
                    includes exercise and activities undertaken while working, playing, carrying out household chores,
                    travelling, and
                    engaging in recreational pursuits. The amount of physical activity you need depends on your age
                    group but adults aged
                    18-64 years should do at least 150 minutes of moderate-intensity physical activity throughout the
                    week. Increase
                    moderate-intensity physical activity to 300 minutes per week for additional health benefits.</dd>

                <dt>Don’t smoke</dt>
                <dl>Smoking tobacco causes NCDs such as lung disease, heart disease and stroke. Tobacco kills not only
                    the direct smokers
                    but even non-smokers through second-hand exposure. Currently, there are around 15.9 million Filipino
                    adults who smoke
                    tobacco but 7 in 10 smokers are interested or plan to quit. If you are currently a smoker, it’s not
                    too late to quit.
                    Once you do, you will experience immediate and long-term health benefits. If you are not a smoker,
                    that’s great! Do not
                    start smoking and fight for your right to breathe tobacco-smoke-free air.</dl>

                <br>
                <dt>Drink only safe water</dt>
                <dt>Get tested</dt>
                <dt>Follow traffic laws</dt>
                <dt>Talk to someone you trust if you're feeling down</dt>
                <dt>Clean your hands properly</dt>
                <dt>Have regular check-ups</dt>
                <dl>Visit here to get more health tips. <a target="_blank"
                        href="https://www.who.int/philippines/news/feature-stories/detail/20-health-tips-for-2020">World
                        Health Organisation</a> </dl>
            </div>
        </div>
    </section>


    <!-- Footer Starts From Here -->
    <%- include('../partials/footer.ejs') %>
    <!-- Footer Ends From Here -->
</body>

</html>